version: "3.9"

services:
  db:
    image: postgres:15
    container_name: db
    env_file:
      - .env.docker
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  dramatiq-worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
    container_name: dramatiq-worker
    env_file:
      - .env.docker
    depends_on:
      - db
      - redis