version: "3.9"

services:
  db:
    image: postgres:15
    container_name: db
    env_file:
      - .env.docker
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: backend
    env_file:
      - .env.docker
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  frontend:
    build:
      context: ./app/frontend
      dockerfile: Dockerfile.frontend
    container_name: frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    environment:
      VITE_API_URL: "http://backend:8000"
    command: npm run dev -- --host 0.0.0.0 --port 5173

  dramatiq-worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
    container_name: dramatiq-worker
    env_file:
      - .env.docker
    depends_on:
      - db
      - redis
      - backend

volumes:
  postgres_data:
